<div class="card">
    <div class="card-content">
        <h1>About</h1>

        <p class="flow-text">StoryBooks is a small blogging platform where people can share their stories. Stories can be Public or Private depending
            Upon the user requirement</p>
    </div>
    <div class="card-action">
        <a href="/" class="btn grey darken-2">Home</a>
        <a href="/stories" class="btn grey darken-2">Public Stories</a>
    </div>
</div>