<div class="card-panel center-align">

  <h4>Welcome to StoryBooks</h4>

  <p class="flow-text">Show What You think to the World </p>
  {{#if user}} {{else}}
  <a class="btn-large white darken-1 black-text" href="/auth/google">
    <i class="fa fa-google-plus left red-text"></i>
    <span> Google</span>
  </a>
  {{/if}}

</div>